@media screen and (min-width: 320px) {
  #barra-izquierda {
    width: 0px;
    border: 2.8px solid #7c1918;
    height: 9rem;
    margin: 2rem 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  #barra-izquierda {
    margin: 2rem 2.8rem;
    height: 11rem;
  }
}

@media screen and (min-width: 1024px) {
  #barra-izquierda {
    margin: 2rem 7rem;
    height: 10rem;
  }
}
