@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@media screen and (min-width: 320px) {
  #container-general__navbar {
    /* border: 1px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: black;
  }

  #container-refs__navbar {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .item-nav__navbar {
    color: white;
    font-size: 14px;
    font-family: var(--fontRaleway);
    cursor: pointer;
    text-decoration: none;
  }

  #logo-portfolio__navbar {
    /* border: 2px solid blue; */
    width: 35%;
    height: 80%;
    object-fit: contain;
    cursor: pointer;
  }
}
